<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/main.css">
    <title>Mystery Game</title>
  </head>
  <body>
    {{#tags}}
    <div class="header_container">
      <div>
        <p class="title">Mystery Word</p>
      </div>
      <div>
        <p class="guesses">You have {{num}} guesses left</p>
      </div>
    </div>
    <div class="word_container">
      {{word}}
    </div>
    {{#win}}
    <form action="/" method="post">
      <p class="loser">{{loser}}</p>
      <input id="guess" type="text" name="input" autofocus="true">
      <button class="submit" type="submit" name="submit">Make a guess</button>
    </form>
    {{/win}}
    {{^win}}
      <form action="/again", method="post">
        <p class="loser">{{loser}}</p>
        <span class="win_lose">{{msg}}</span>
        <button class="submit" type="submit" name="try">Try Again!</button>
      </form>
    {{/win}}
    <div>
      <p class="xyz">
        Letters guessed: {{letters}}
      </p>
    </div>
    <div>
      Total Score: {{purple}}
    </div>
    {{/tags}}
  </body>
</html>
